@using System.Collections
@model IEnumerable<KendoUIDemo.ViewModels.ProductViewModel>

@(Html.Kendo().Grid(Model)
      .Name("mossgrid")
      .Columns(c =>
      {
          c.Bound(p => p.ProductId);
          c.Bound(p => p.ProductName);
          c.Bound(p => p.Color);
          c.Bound(p => p.ModelId);
          //c.Command(cmd =>
          //{
          //    cmd.Edit();
          //    cmd.Destroy();
          //}).Width(220);
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.ProductId))
        )

)


@*<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
			<div id="grid"></div>
		</div>
    </div>
</div>*@
@*<script>
	$(document).ready(function() {
	                
        $("#grid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                },
                schema: {
                    model: {
                        fields: {
                            OrderID: { type: "number" },
                            Freight: { type: "number" },
                            ShipName: { type: "string" },
                            OrderDate: { type: "date" },
                            ShipCity: { type: "string" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                    field:"OrderID",
                    filterable: false
                },
                "Freight",
                {
                    field: "OrderDate",
                    title: "Order Date",
                    format: "{0:MM/dd/yyyy}"
                }, {
                    field: "ShipName",
                    title: "Ship Name"
                }, {
                    field: "ShipCity",
                    title: "Ship City"
                }
            ]
        });
    });
</script>*@
