
@{
    ViewBag.Title = "DisplayStaffKnockoutJS";
}
<br />
<button data-bind="click: AddStaff" class="btn btn-primary">Add Staff</button>
<br />

<table class="table table-striped">
    <tr>
        
        <th>First Name</th>
        <th> Last Name</th>
        <th>&nbsp</th>
       
    </tr>

    <tbody data-bind="foreach: staffList">
        <tr>           
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td><button class="btn btn-primary" data-bind="click: $parent.EditStaff">Click Me</button></td>
            
        </tr>
    </tbody>
    </table>

<label data-bind="text: comtest"></label>

<div hidden>
    <div id="popup-Buttons-Save">
        <div id="popup-Save-Bind">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="save-changes-btn btn btn-primary" data-bind="click: SaveStaff">Save changes</button>
        </div>
        </div>
    <div id="popup-Buttons-Edit">
        <div id="popup-Edit-Bind">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="save-changes-btn btn btn-primary" data-bind="click: SaveEditStaff">Save changes</button>
    </div>
        </div>

</div>

<script>
 
    var staffListModel = function (data) {
        var self = this;
        self.FirstName = ko.observable(data.FirstName),
        self.LastName = ko.observable(data.LastName)
    }
    function  ViewModel() {
        var self = this;
       
        self.staffNumber = ko.observable();
        self.staffList = ko.observableArray([]);
        self.staffModel = ko.observable({ FirstName: '', LastName: '' })
        self.currentStaffId = ko.observable();

        function InjectModalView(url, id, buttonInjectId) {
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    var popup = '<div id=injected>'
                    var form = result
                    var popupButtons = $('#' + buttonInjectId ).html()
                    var totalpopup = popup.concat(form).concat('<div class="modal-footer" id="inject-Buttons-Here"></div>')                    
                    $('#' + id).html(totalpopup)
                    $('#inject-Buttons-Here').html(popupButtons)               
                    ko.applyBindings(model,document.getElementById('injected'))
                    $('#craigs-model').modal('show')
                }
            })
        }
       
        $.ajax({
            url: '/Home/GetStaffListKnockOutJS',
            type: 'get',
            success: function (result) {
                for (i = 0; i < result.length; i++) {
                    self.staffList.push(new staffListModel({
                        FirstName: result[i].FirstName,
                        LastName: result[i].LastName
                    })

                    )}
                     }})

        self.comtest = ko.computed(function () {          
            return "Total Staff " + self.staffList().length
        });
                       
        self.AddStaff = function () {
            InjectModalView('/Home/GetStaffPopupForm', 'edit-student-form', 'popup-Save-Bind')
            self.staffModel().FirstName = ''
            self.staffModel().LastName = ''
        }

        self.EditStaff = function (currentStaff,event) {            
            InjectModalView('/Home/GetStaffPopupForm', 'edit-student-form','popup-Buttons-Edit')          
            self.staffModel().FirstName = currentStaff.FirstName
            self.staffModel().LastName = currentStaff.LastName
            // set index of the line for the array
            self.currentStaffId = ko.contextFor(event.target).$index();
        }

        self.SaveStaff = function () {            
            data = {
                FirstName: self.staffModel().FirstName,
                LastName: self.staffModel().LastName               
            }
            self.staffList.push( new staffListModel(data))           
            $('#craigs-model').modal('hide')
        }

        self.SaveEditStaff = function () {
            data = { FirstName: self.staffModel().FirstName, LastName: self.staffModel().LastName }          
            self.staffList()[1].FirstName = self.staffModel().FirstName
            $('#craigs-model').modal('hide')
        }
    }
    
    var model = new ViewModel();
    ko.applyBindings(model);
</script>

