@model List<MVVMExample.Models.StaffListModel>
@{
    ViewBag.Title = "GetStaffListJQuery";
    Layout = null;
}


<table class="table table-striped">
    <tr>
        <th>First Name</th>
        <th> Last Name</th>
    </tr>

@foreach(var sl in Model)
{
    <tr>
        <td>@sl.FirstName</td>
        <td>@sl.LastName</td>
    </tr>
}
</table>